name: Documentation Deployment

on:
  push:
    branches:
      - master
      - develop

jobs:
  update-website:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v1
      - name: Initialize Environment
        uses: ROOT-Sim/ci-actions/init@v1.2
      - name: Generate Documentation
        uses: ROOT-Sim/ci-actions/docs@v1.2
      - name: Documentation Coverage
        uses: ROOT-Sim/ci-actions/docs-coverage@v1.2
        with:
          build-path: docs
      - name: Website Deployment
        uses: ROOT-Sim/ci-actions/website-deploy@v1.2
        with:
          build-path: docs
